In [49]:

#LIST

#a = [1,2,3,4,5,6,7]
#b = [11,12,13,14]
#a.extend(b)
#print(a)
#a.insert, a.pop, a.remove, a.extend,

#Tuple
#Allows duplicate
#we cannot modify the tuple item

#a = (1,2,3,4,5,6,7)
#b = (11,12,13,14)

#b = list(a)
#b.pop()
#print(a)
#print(b)

#SET

#Do not allow duplicate,
#any type of data can be stored
#we cannot modify, but we can add and remove items
#sets are unorderd
#add(), update(), remove(), pop()

#a = {1,2,3,4,5,6,7}
#a.pop()
#print(a)

#Dictionry

#a = {
 #   "name": "vickram",
  #  "age": "22",
   # "location": "chennai" ,
    #"stuedents": ["naveen","karthi"]
#}
#a.clear()
#print(a)

{}